.row_vh100 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 100vh;
}

.video_clip {
    display: grid;
    // grid-template-columns: 1fr;
    grid-template-rows: minmax(1fr, 720px);
    width: auto;
    height: 100%;
    background-color: black;
}
.video_clip_small {
    display: grid;
    grid-template-columns: 1fr;
    // margin: auto;
    align-self: start;
    // grid-template-rows: minmax(auto, 360px);
    // width: 100%;
    // height: 100%;
    background-color: black;
}

.image {
    display: grid;
    width: 100%;
    place-items: center;
    img {
        display: inline-block;
        width: 100%;
        height: auto;
    }
}

.image_6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    place-items: center;
    // background-color: rgb(214, 214, 214);
    // justify-content: space-between;

    img {
        display: flex;
        width: auto;
        height: 100%;
    }
}

.image_wide {
    display: grid;
    width: 100%;
    place-items: center;
    // background-color: rgb(240, 240, 240);
    // background: linear-gradient(to right, rgb(221, 221, 221), rgb(245, 245, 245));
    // background-image: "../assets/images/project_roy/five_swingtag.jpg";
    // background-position: center;
    // background-size: cover;
    background-image: url("../../assets/images/project_roy/five_swingtag_wide.jpg");
    background-position: center;
    background-size: cover;
    img {
        display: inline-block;
        width: auto !important;
        height: 100% !important;
        justify-self: center;
    }
    // .wide {
    //     display: grid;
    //     background-image: url("../../assets/images/project_roy/five_swingtag_wide.jpg");
    //     background-position: center;
    //     background-size: cover;
    // }
}
.image_high {
    display: grid;
    width: 100%;
    place-items: center;
    img {
        display: inline-block;
        width: 100% !important;
        height: auto !important;
    }
    .care {
        width: 82% !important;
    }
}

.box {
    display: grid;
    width: 100%;
    // background-color: rgb(255, 126, 205);
}

.gcs1 {
    grid-column: span 1;
}
.gcs2 {
    grid-column: span 2;
}
.gcs3 {
    grid-column: span 3;
}
.gcs4 {
    grid-column: span 4;
}
.gcs5 {
    grid-column: span 5;
}
.gcs6 {
    grid-column: span 6;
}
.grs1 {
    grid-row: span 1;
}
.grs2 {
    grid-row: span 2;
}
.grs3 {
    grid-row: span 3;
}
.grs4 {
    grid-row: span 4;
}
.grs5 {
    grid-row: span 5;
}
.grs6 {
    grid-row: span 6;
}
// }
