.max-width-1920 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1fr, 1920px);
      grid-template-columns: minmax(1fr, 1920px);
}

section {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  margin: auto;
}

section h1 {
  margin: 0;
  font-size: 100pt;
  font-weight: bolder;
  letter-spacing: -0.08em;
  color: white;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-shadow: 1px 1px 8px #757575;
}

.landing {
  gap: 20px;
  height: auto;
  background-color: #a84e80;
}

.projects {
  height: 100vh;
  background-color: #b80065;
}

.roy {
  background-color: #ffd2d2;
}

.zap {
  background-color: #e8b5ff;
}

.random {
  height: 100vh;
  background-color: #ffbde1;
}

.things {
  height: 100vh;
  background-color: #83566f;
}

.about {
  height: 100vh;
  background-color: #a851a1;
}

.gallery {
  height: 100vh;
  background-color: #7c2a57;
}

.some-album {
  height: 100vh;
  background-color: #b97199;
}

.album-name {
  height: 100vh;
  background-color: #b667eb;
}

.marlborough {
  height: 100vh;
  background-color: #8f004f;
}

.tasman {
  height: 100vh;
  background-color: #e2007c;
}

.title1 {
  color: #534129;
}

.icon_test {
  color: #494919;
}

.grid_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  position: absolute;
  top: 0;
}

.grid_container .nav_ {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 40px;
  position: fixed;
  height: auto;
  padding: 40px;
  background-color: #ff6bbc;
}

.grid_container .nav_ .active {
  border-bottom: 2px solid white;
}

.grid_container .one {
  height: 100vh;
  padding: 50px 100px 50px 200px;
  background-color: #c885ff;
}

.grid_container .two {
  height: 100vh;
  padding: 50px 100px 50px 200px;
  background-color: #89a9ff;
}

.page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: absolute;
  top: 0px;
  left: 15%;
  padding: 20px;
  background-color: thistle;
}

.set_high .container1 {
  height: 195vh;
  z-index: 0;
}

.set_high .container1 .layer-one {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 200%;
  background-image: url("../../assets/images/mountains.jpg");
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
}

.set_high .container1 .layer-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 2;
  width: 100%;
  height: auto;
  color: red;
}

.set_high .container1 .layer-two .box-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  position: absolute;
  top: 0px;
  z-index: 2;
  width: 80%;
  height: auto;
}

.set_high .container1 .layer-three {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  width: 100%;
  height: 200%;
  background-image: url("../../assets/images/mountains-z3.png");
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
}

.mountain_img {
  width: auto;
  height: 100vh;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=App.css.map */