.modal-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-background .modal-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: calc(100% - 120px);
  height: calc(100% - 120px);
}

.modal-background .modal-container .close-modal {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 75px;
  right: 75px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 50px;
  border: none;
  z-index: 2;
}

.modal-background .modal-container .close-modal i {
  color: black;
  font-size: 40px;
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.8) translateY(1000px);
            transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.8) translateY(1000px);
            transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(1000px);
            transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}

@keyframes scaleDown {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(1000px);
            transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes scaleBack {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@keyframes scaleBack {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@-webkit-keyframes scaleForward {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleForward {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes quickScaleDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99.9% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes quickScaleDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99.9% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=modal.css.map */