.card {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  background-color: blue;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background-color: white;

  .title-bar {
    display: flex;
    height: 90px;
    justify-items: flex-start;
    align-items: center;
    padding: 30px;
    background-color: rgb(192, 192, 192);

    .title {
      // margin: -15px -15px;
      font-size: 50px;
      font-family: BebasNeue;
      letter-spacing: 30px;
      justify-self: flex-start;
    }
  }

  .card-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    height: 100%;

    .left {
      .details {
      }
    }

    .right {
      .image {
      }
    }
  }
}
