.project-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
  min-height: 500px;
  max-height: 800px;
  background-color: #dbeaf0;
  border-radius: 5px;
  -webkit-animation-name: scaleUp;
          animation-name: scaleUp;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.project-card .title-bar {
  display: -ms-grid;
  display: grid;
  height: 90px;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #acc5eb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.project-card .title-bar .title {
  font-size: 40px;
  font-family: BebasNeue;
  letter-spacing: 30px;
  justify-self: flex-start;
  line-height: 1;
  margin: 0;
  margin-left: 30px;
}

.project-card .title-bar .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
}

.project-card .title-bar .close .button-1 {
  width: 50px;
  height: 50px;
  -webkit-box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.8), 2px 2px 8px rgba(25, 55, 99, 0.5);
          box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.8), 2px 2px 8px rgba(25, 55, 99, 0.5);
}

.project-card .title-bar .close .button-1 .inner:active {
  -webkit-box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.8), inset 2px 2px 5px rgba(25, 55, 99, 0.5);
          box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.8), inset 2px 2px 5px rgba(25, 55, 99, 0.5);
}

.project-card .title-bar .close .button-1:hover {
  -webkit-box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8), 2px 2px 4px rgba(25, 55, 99, 0.5);
          box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8), 2px 2px 4px rgba(25, 55, 99, 0.5);
}

.project-card .card-split {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;
  overflow-y: scroll;
}

.project-card .card-split .left {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 100%;
}

.project-card .card-split .left .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  width: 40px;
  font-size: 22px;
  font-family: BebasNeue;
  letter-spacing: 5px;
  line-height: 1;
  color: gray;
  border-bottom: 3px solid gray;
  padding-bottom: 10px;
  margin-top: -15px;
}

.project-card .card-split .left .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  gap: 5px;
  padding: 10px;
}

.project-card .card-split .left .row .small-title {
  font-size: 18px;
  font-family: BebasNeue;
  letter-spacing: 5px;
  line-height: 1;
}

.project-card .card-split .left .row .text {
  width: 100%;
  font-size: 14px;
}

.project-card .card-split .left .row .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}

.project-card .card-split .left .row .icons img {
  width: 50px;
  height: auto;
}

.project-card .card-split .left .corner-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid grey;
  border-left: 3px solid grey;
}

.project-card .card-split .left .corner-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-top: 3px solid grey;
  border-right: 3px solid grey;
}

.project-card .card-split .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  gap: 30px;
}

.project-card .card-split .right .image {
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-box-shadow: inset -2px -2px 5px white, inset 2px 2px 5px rgba(25, 55, 99, 0.3);
          box-shadow: inset -2px -2px 5px white, inset 2px 2px 5px rgba(25, 55, 99, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  max-height: 400px;
}

.project-card .card-split .right .image .image-preview {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.project-card .card-split .right .image .royPreview {
  background-image: url(../../assets/images/previews/RA_landing_preview.jpg);
}

.project-card .card-split .right .image .zapPreview {
  background-image: url(../../assets/images/previews/ZAP_landing_preview.jpg);
}

.project-card .card-split .right .image .aboutPreview {
  background-image: url(../../assets/images/previews/about_preview.jpg);
}

.project-card .card-split .right .image .educationPreview {
  background-image: url(../../assets/images/previews/education_preview.jpg);
}

.project-card .card-split .right .image .planterPreview {
  background-image: url(../../assets/images/previews/Planter_preview.jpg);
}

.project-card .card-split .right .image .actionPreview {
  background-image: url(../../assets/images/previews/AM_landing_preview.jpg);
}

.project-card .card-split .right .image:hover {
  -webkit-box-shadow: inset -2px -2px 3px white, inset 2px 2px 3px rgba(25, 55, 99, 0.3);
          box-shadow: inset -2px -2px 3px white, inset 2px 2px 3px rgba(25, 55, 99, 0.3);
}

.project-card .card-split .right .clickables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}

.project-card .card-split .right .clickables a {
  width: 70%;
  text-decoration: none;
}

.project-card .card-split .right .clickables a .button-1 {
  width: 100%;
  height: 50px;
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.8) translateY(1000px);
            transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.8) translateY(1000px);
            transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(1000px);
            transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}

@keyframes scaleDown {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(1000px);
            transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
/*# sourceMappingURL=card-full.css.map */